# kickstart host is {{user `hostname`}}
# vm hostname is {{user `hostname`}}
# product: centos
# version: 6
# arch: i386

# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype ext2 --size=100
part pv.01 --size=1 --grow
volgroup vg00 pv.01
logvol / --name=rootvol --vgname=vg00 --size=1 --grow --fstype ext4
logvol swap --name=swapvol --vgname=vg00 --size=256
# Use the *real* text mode install
cmdline
# Install OS instead of upgrade
install
# Use CDROM install media
cdrom
#repo --name=cdrom --baseurl=cdrom:sr0 --cost=100
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# System authorization information
auth  --useshadow  --enablemd5  --enablecache
#Root password
rootpw --iscrypted $1$jrm5tnjw$h8JJ9mCZLmJvIxvDLjw1M/
# Firewall configuration
firewall --disabled
# Run the Setup Agent on first boot
firstboot --disable
# System keyboard
keyboard us
# System language
lang en_US
# System timezone
timezone UTC
# Network information
network --bootproto=dhcp --device=eth0 --onboot=on
# Installation logging level
logging --level=info
# Shutdown after installation so we don't have to
reboot

#Packages
%packages
@Base
curl
ntp
ruby
tar

%post
exec < /dev/tty3 > /dev/tty3
chvt 3
(
set -x
mount /dev/sr0 /mnt
groupadd -r puppet
useradd -d /var/lib/puppet -g puppet -M -r puppet
cd /root
# Set the dns info and hostname; must be done before puppet
cat <<EOF > /etc/resolv.conf
domain puppetlabs.vm
nameserver 8.8.8.8
EOF
sed -i 's/HOSTNAME.*/HOSTNAME=learning.puppetlabs.vm/' /etc/sysconfig/network
hostname learning.puppetlabs.vm

sed -i 's/127\.0\.0\.1.*/\0 learning.puppetlabs.vm learning/' /etc/hosts

yum -y install git
#yum -y upgrade #This takes a while
# Ensure ethernet interface is still eth0
rm -rf /etc/udev/rules.d/70-persistent-net.rules
sed -i -e '/^HWADDR.*/d' /etc/sysconfig/network-scripts/ifcfg-eth0
cp /usr/src/puppetlabs-training-bootstrap/files/registerdns.sh /etc/rc3.d/S16registerdns.sh
#/bin/sh
#echo 'Hello, World!'
) 2>&1 | /usr/bin/tee /root/post.log
cp /root/post.log /boot
chvt 1
