#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$VF4agypX$4zPjIv5F.VBf07oSSLy351
# System timezone
timezone UTC
# System language
lang en_US
# Set up networking
network --device=eno1 --bootproto=dhcp --activate
# Firewall configuration
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
cmdline

firstboot --disable
# SELinux configuration
selinux --disabled

# Reboot after installation
reboot
# Disk partitioning information
zerombr
clearpart --all --drives=sda
part /boot/efi --fstype=efi --size=200 --ondisk=sda
part /boot --fstype="ext3" --size=200 --ondisk=sda
part pv.01 --size 1 --grow --ondisk=sda
volgroup VOL pv.01
logvol swap --name=VOL_SWAP --vgname=VOL --size=4096
logvol /    --name=VOL_ROOT --vgname=VOL --size=1 --grow

bootloader --location=boot


reboot

%packages
@gnome-desktop
@ruby-runtime
@system-admin-tools
@x11
@development
initial-setup
%end


%post --log=/root/post.log --erroronfail

# Run on a different TTY so that script is visible
exec < /dev/tty6 > /dev/tty6
chvt 6

useradd training
echo "training:training" | chpasswd
echo "training ALL=(ALL) NOPASSWD: ALL >> /etc/sudoers

yum update -y
yum install -y wget curl rake nfs-utils ntpdate git yum-utils ruby-devel ruby rubygems gcc
gem install rake -v 10.5.0
gem install json -v 1.8.3

cd /usr/src
git clone https://github.com/puppetlabs/education-builds
ln -s /usr/src/education-builds/build_files /usr/src/build_files

cd /usr/src/build_files
rake ciab_full VM_TYPE=ciab

chvt 1

%end

