# kickstart host is learning
# vm hostname is learning.puppetlabs.vm
# product: centos
# version: 6
# arch: i386

# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype ext2 --size=100
part pv.01 --size=1 --grow
volgroup vg00 pv.01
logvol / --name=rootvol --vgname=vg00 --size=1 --grow --fstype ext4
logvol swap --name=swapvol --vgname=vg00 --size=256
# Use the *real* text mode install
cmdline
# Install OS instead of upgrade
install
# Use CDROM install media
cdrom
#repo --name=cdrom --baseurl=cdrom:sr0 --cost=100
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# System authorization information
auth  --useshadow  --enablemd5  --enablecache
#Root password
rootpw --iscrypted $1$jrm5tnjw$h8JJ9mCZLmJvIxvDLjw1M/
# Firewall configuration
firewall --disabled
# Run the Setup Agent on first boot
firstboot --disable
# System keyboard
keyboard us
# System language
lang en_US
# System timezone
timezone UTC
# Network information
network --bootproto=dhcp --device=eth0 --onboot=on
# Installation logging level
logging --level=info
# Shutdown after installation so we don't have to
reboot

#Packages
%packages
@Core
@Base
ntp
curl
tar
ruby
# Required for guest additions install
kernel-headers
kernel-devel
gcc
make
perl
wget

%post
exec < /dev/tty3 > /dev/tty3
chvt 3
(
set -x
/usr/bin/yum -y install sudo
/usr/sbin/groupadd vagrant
/usr/sbin/useradd vagrant -g vagrant -G wheel
echo "vagrant"|passwd --stdin vagrant
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers
groupadd -r puppet
useradd -d /var/lib/puppet -g puppet -M -r puppet

yum -y install git ntp ruby

#/bin/sh
#echo 'Hello, World!'
) 2>&1 | /usr/bin/tee /root/post.log
cp /root/post.log /boot
chvt 1
