[Unit]
Description=Puppet Enterprise Puppet agent
After=network.target pe-httpd.service

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/pe-puppet-master
ExecStart=/opt/puppet/bin/puppet master ${PUPPET_EXTRA_OPTS} --no-daemonize

[Install]
WantedBy=multi-user.target

